body {

    background-image: url('pexels-photo-1831234\ \(2\).webp');

    background-repeat: repeat;

    padding: 90px 200px ;


 }

 h1 {
    text-size-adjust: 0.60;
    text-align: center;
    color:rgb(98, 49, 17);
    background-color: rgb(185, 163, 107);
    border: 5px solid #e6a968
  }
  
  body{
    margin:0 auto;
  }
  
  .menu ul{
      list-style: none;
      margin: 0;
      padding: 0;
  }
  .menu li{
      float: left;
      position: relative;
      width: 180px;
    }
     
    .menu ul li ul{
      display: none;
    }
     
    .menu ul li:hover ul{
      display: block;
    }
     
    .menu ul li a{
      text-decoration: none;
      background: rgb(131, 122, 128);
      display: block;
      color:rgb(98, 49, 17);
      font-weight: bold;
      font-family: sans-serif;
      text-align: center;
      border-bottom: 2px solid rgb(237, 209, 119);
      border-left: 1px solid rgb(253, 195, 7);
      padding: 5px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
     
    .menu ul li ul li a{
      background: rgb(124, 112, 128);
      text-align: left;
      padding: 5px;
      border-bottom: 1px solid rgb(255, 196, 0);
      font-size: .8em;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
     
    .menu li a:hover{
      background: rgb(124,112,128);
      transition: .5s;
    }
     
    .menu ul li ul li a:hover{
      padding-left: 20px;
      
    }
    .menu ul li ul{
      position:absolute;
      left:-9000em;
    }
     
    .menu ul li:hover ul{
      left:0;
    }
    
    h2.center{
        text-align:justify;
        color:rgb(91, 93, 88);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    p{
        color:#764c1f;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    table{
        color: rgb(0, 0, 0);
        border-color: #a3d41c;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
      
    .satir_ici{
        display: inline;
        vertical-align: top;
        margin: 5px;
    }
    
    .style-border {
        padding: 15px;
        border: 3px solid orangered;
    
    }

    img{
        border: 2px solid wheat;

    }
    section {
        width:490px;
        padding:25px;
        float:left;	 
     
    }
    
    footer {
        background-color:DarkSeaGreen;
        color:white;
        text-align:center;
        clear:both;
        padding:5px;
    }
    
   