html, body {
  height: 100%;
  width: 100%;
}

.board {
  width:100px;
  min-height:50px;
  background-color:#da5f8a;
  position:fixed;
  right:3px;
  top:3px;
}

.board p {
  background-color:#c0c0c0;
  margin-left:1px;
  
}

.question {
  border-style:solid;
  border-width:1px;
  padding:5px;
  margin:5px;
  background-color:#fecc92;
}